---
import portfolio from '../assets/Proyectos/portfolio_web.avif'
import AstroIcon from '../assets/icons/AstroIcon.astro'
import TailwindIcon from '../assets/icons/Tailwind.astro'
const TAGS = {
    ASTRO: {
        name: 'Astro',
        class: 'bg-black text-white',
        icon: AstroIcon,
    },
    TAILWIND: {
        name: 'TailwindCSS',
        class: 'bg-[#003159] text-white',
        icon: TailwindIcon,
    }
}
const PROJECTS = [
    {
        title: 'Portfolio Web de Tomás.',
        description:'Web desarrollada para mostrar mis proyectos y habilidades como desarrollador web, todo en un mismo sitio.',
        link: '#',
        github: 'https://www.github.com/byRandom',
        image: `${portfolio.src}`,
        tags: [TAGS.ASTRO, TAGS.TAILWIND,]
    }
]
---

{

    PROJECTS.map(({image, title, description, tags}) => (
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2" >{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-4 flex-row mb-2">
                {
                    tags.map(tag => (
                    <li>
                        <span class={`flex gap-x2 rounded-full text-xs ${tag.class} py-2 px-1`}>
                            <tag.icon class="size-4"/>
                            {tag.name}
                        </span>
                        
                    </li>
                    ))
                }
            </ul>
            <img class="rounded shadow shadow-white/10" src={image} alt={`Captura de pantalla del proyecto ${title}`} />
        </article>
    ))

}